# DATA CLEANING

This is the dedicate file for the data cleaning processes

### importing libraries and modules

In [2]:
import pandas as pd

### Creating the dataframe and perfroming the exploratory data analysis

In [3]:
df=pd.read_csv('../data/personal_finance_tracker_dataset.csv')

In [4]:
pd.set_option('display.max_columns',None)

In [5]:
df.head(10)

,date,user_id,monthly_income,monthly_expense_total,savings_rate,budget_goal,financial_scenario,credit_score,debt_to_income_ratio,loan_payment,investment_amount,subscription_services,emergency_fund,transaction_count,fraud_flag,discretionary_spending,essential_spending,income_type,rent_or_mortgage,category,cash_flow_status,financial_advice_score,financial_stress_level,actual_savings,savings_goal_met
0,2019-01-01,1584,3119.58,3212.07,0.38,3676.11,inflation,721.0,0.56,125.77,689.22,3,510.58,68,0,857.55,1910.85,Freelance,1501.65,Investments,Positive,8.3,Low,0.00,0
1,2019-01-31,1045,3262.44,3732.81,0.10,2607.17,inflation,670.0,0.42,454.19,360.34,4,1154.41,41,0,534.51,3165.20,Salary,1603.17,Investments,Positive,22.6,Low,0.00,0
2,2019-03-02,1756,2931.20,3335.58,0.15,3004.14,inflation,691.0,0.24,971.82,0.00,5,1433.02,90,0,353.67,1504.56,Freelance,1097.82,Healthcare,Positive,58.8,Low,0.00,0
3,2019-04-01,1724,3506.79,2327.59,0.17,3346.97,normal,717.0,0.16,482.76,182.06,5,227.37,94,0,594.08,1450.72,Freelance,1155.64,Groceries,Positive,74.5,Low,1179.20,0
4,2019-05-01,1600,4606.87,2182.58,0.34,2670.09,inflation,795.0,0.25,263.74,342.78,9,589.81,73,0,556.86,1000.00,Salary,1170.86,Utilities,Negative,38.7,High,2424.29,0
5,2019-05-31,1985,4028.39,3876.57,0.26,2079.72,recession,643.0,0.43,323.20,451.11,8,1131.03,56,0,431.04,2330.01,Salary,548.67,Healthcare,Positive,53.7,Medium,151.82,0
6,2019-06-30,1194,4145.45,3035.61,0.15,2215.80,normal,683.0,0.30,609.88,730.42,8,995.12,69,0,443.50,2860.30,Freelance,637.04,Transportation,Positive,74.7,High,1109.84,0
7,2019-07-30,1600,3202.37,2689.51,0.25,3650.48,normal,655.0,0.24,524.64,224.15,4,732.71,65,0,602.88,3526.55,Salary,1453.18,Entertainment,Neutral,83.1,Medium,512.86,0
8,2019-08-29,1835,4765.11,2628.56,0.06,2813.81,normal,715.0,0.52,103.30,0.00,7,1623.05,99,0,733.67,2503.65,Salary,1675.75,Education,Negative,71.6,Low,2136.55,0
9,2019-09-28,1454,3581.79,3370.80,0.13,2195.92,normal,749.0,0.52,643.48,261.39,9,1057.10,91,0,464.34,1691.26,Salary,682.16,Entertainment,Positive,77.9,High,210.99,0

In [6]:
df.shape

(3000, 25)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    3000 non-null   object
 1   user_id                 3000 non-null   int64
 2   monthly_income          3000 non-null   float64
 3   monthly_expense_total   3000 non-null   float64
 4   savings_rate            3000 non-null   float64
 5   budget_goal             3000 non-null   float64
 6   financial_scenario      3000 non-null   object
 7   credit_score            3000 non-null   float64
 8   debt_to_income_ratio    3000 non-null   float64
 9   loan_payment            3000 non-null   float64
 10  investment_amount       3000 non-null   float64
 11  subscription_services   3000 non-null   int64
 12  emergency_fund          3000 non-null   float64
 13  transaction_count       3000 non-null   int64
 14  fraud_flag              3000 non-null   int64
 15  discretionary_spending  3000 non-null   float64
 16  essential_spending      3000 non-null   float64
 17  income_type             3000 non-null   object
 18  rent_or_mortgage        3000 non-null   float64
 19  category                3000 non-null   object
 20  cash_flow_status        3000 non-null   object
 21  financial_advice_score  3000 non-null   float64
 22  financial_stress_level  3000 non-null   object
 23  actual_savings          3000 non-null   float64
 24  savings_goal_met        3000 non-null   int64
dtypes: float64(14), int64(5), object(6)
memory usage: 586.1+ KB

While looking at the dataset its obvious that there are lot of columns that are not needed so let's delete them from the dataset

In [10]:
# df.drop('date',axis=1,inplace=True)
# df.drop('user_id',axis=1,inplace=True)
# # df.drop('total',axis=1,inplace=True)
# df.drop(['discretionary_spending','essential_spending','rent_or_mortgage','category'],axis=1,inplace=True)
# df.drop(['budget_goal'],axis=1,inplace=True)

In [11]:
(df['fraud_flag']).value_counts()

fraud_flag
0    2929
1      71
Name: count, dtype: int64

In [12]:
(df['financial_stress_level']).value_counts()

financial_stress_level
Low       1521
Medium     886
High       593
Name: count, dtype: int64

In [13]:
(df['income_type']).value_counts()

income_type
Salary       2154
Freelance     529
Mixed         317
Name: count, dtype: int64

In [14]:
(df['financial_scenario']).value_counts()

financial_scenario
normal       1739
inflation     648
recession     613
Name: count, dtype: int64

In [15]:
df['credit_score'].mean()

679.9236666666667

In [16]:
df.head(10)

,monthly_income,monthly_expense_total,savings_rate,budget_goal,financial_scenario,credit_score,debt_to_income_ratio,loan_payment,investment_amount,subscription_services,emergency_fund,transaction_count,fraud_flag,discretionary_spending,essential_spending,income_type,rent_or_mortgage,category,cash_flow_status,financial_advice_score,financial_stress_level,actual_savings,savings_goal_met
0,3119.58,3212.07,0.38,3676.11,inflation,721.0,0.56,125.77,689.22,3,510.58,68,0,857.55,1910.85,Freelance,1501.65,Investments,Positive,8.3,Low,0.00,0
1,3262.44,3732.81,0.10,2607.17,inflation,670.0,0.42,454.19,360.34,4,1154.41,41,0,534.51,3165.20,Salary,1603.17,Investments,Positive,22.6,Low,0.00,0
2,2931.20,3335.58,0.15,3004.14,inflation,691.0,0.24,971.82,0.00,5,1433.02,90,0,353.67,1504.56,Freelance,1097.82,Healthcare,Positive,58.8,Low,0.00,0
3,3506.79,2327.59,0.17,3346.97,normal,717.0,0.16,482.76,182.06,5,227.37,94,0,594.08,1450.72,Freelance,1155.64,Groceries,Positive,74.5,Low,1179.20,0
4,4606.87,2182.58,0.34,2670.09,inflation,795.0,0.25,263.74,342.78,9,589.81,73,0,556.86,1000.00,Salary,1170.86,Utilities,Negative,38.7,High,2424.29,0
5,4028.39,3876.57,0.26,2079.72,recession,643.0,0.43,323.20,451.11,8,1131.03,56,0,431.04,2330.01,Salary,548.67,Healthcare,Positive,53.7,Medium,151.82,0
6,4145.45,3035.61,0.15,2215.80,normal,683.0,0.30,609.88,730.42,8,995.12,69,0,443.50,2860.30,Freelance,637.04,Transportation,Positive,74.7,High,1109.84,0
7,3202.37,2689.51,0.25,3650.48,normal,655.0,0.24,524.64,224.15,4,732.71,65,0,602.88,3526.55,Salary,1453.18,Entertainment,Neutral,83.1,Medium,512.86,0
8,4765.11,2628.56,0.06,2813.81,normal,715.0,0.52,103.30,0.00,7,1623.05,99,0,733.67,2503.65,Salary,1675.75,Education,Negative,71.6,Low,2136.55,0
9,3581.79,3370.80,0.13,2195.92,normal,749.0,0.52,643.48,261.39,9,1057.10,91,0,464.34,1691.26,Salary,682.16,Entertainment,Positive,77.9,High,210.99,0

In [17]:
df['total']=df['discretionary_spending']+df['essential_spending']+df['rent_or_mortgage']

In [18]:
(df['savings_goal_met']).value_counts()

savings_goal_met
0    2723
1     277
Name: count, dtype: int64

In [ ]:
df.shape

(3000, 18)

In [19]:
df.to_csv('../data/cleaned_data.csv')

In [20]:
(df['monthly_income']).min()

685.28

In [21]:
(df['monthly_income']).max()

7407.94

In [24]:
(df['monthly_expense_total']).min()

159.21

In [25]:
(df['monthly_expense_total']).max()

5853.2

In [26]:
(df['savings_rate']).min()

0.05

In [27]:
(df['savings_rate']).max()

0.4

In [28]:
(df['credit_score']).min()

515.0

In [29]:
(df['credit_score']).max()

847.0

In [30]:
(df['debt_to_income_ratio']).min()

0.1

In [31]:
(df['debt_to_income_ratio']).max()

0.6

In [32]:
(df['financial_advice_score']).min()

0.1

In [33]:
(df['financial_advice_score']).max()

100.0